body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    font-family: 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
}


#recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe{
    width: 40%;
    height: 40vh;
    background-color: #ffeead;
    padding: 5em;
    border-radius: 12px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
    margin:3rem;
    overflow: auto;
}

.recipeDesc{
    text-decoration: underline;
    font-weight: bold;
}



footer {
    text-align: center;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    position:relative;
    bottom: 0; 

}
