html, body{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    font-family: 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
}

#title {
    text-align: center;
    color: #d95d39;
    margin: 1rem;
}

header {
    width: 100%;
    background-color: #e6ffe0;
    height: 6rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav ul {
    list-style-type:none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.link:hover{
    text-decoration: underline;
    height: 1rem;
    
}