body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    font-family: 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
}

#pageTitle{
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipe{
    width: 40%;
    height: 40vh;
    background-color: #ffeead;
    padding: 5em;
    border-radius: 12px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
    margin:3rem;
    overflow: auto;
}

.recipeDesc{
    text-decoration: underline;
    font-weight: bold;
}



#createRecipes {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffeead;
    box-shadow: 0 0px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
}

#createRecipes form {
    display: flex;
    flex-direction: column;
}

#createRecipes label {
    margin-bottom: 5px;
    font-weight: bold;
}

#createRecipes input[type="text"],
#createRecipes textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#createRecipes #addIngredientsDiv,
#createRecipes #stepsDiv {
    margin-bottom: 15px;
}

#createRecipes h3 {
    margin-bottom: 10px;
}

#createRecipes button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

#createRecipes #submitBtn {
    align-self: center;
    width: auto;
    margin-top: 10px;
}

#createRecipes button:hover {
    background-color: #45a049;
}



footer {
    text-align: center;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    position:relative;
    bottom: 0; 

}
