body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    font-family: 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
}

#pageTitle{
    text-align: center;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-details {
    width: 60%; 
    background-color: #ffeead;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    overflow: auto;
}

.profile-info {
    margin-bottom: 1rem;
    font-size: 1.2em;
}

.profile-info-title {
    text-decoration: underline;
    font-weight: bold;
}
#editContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem; 
}
#editDetails {
    background-color: #ffeead;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#editInfoTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 1rem;
}

#editContainer input {
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 

}

#editContainer input:focus {
    border-color: #ffa726;
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 167, 38, 0.4);
}

#editProfile {
    font-size: 23px;
    font-weight: 300;
    border: none;
    background-color: #ffa726;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    width: auto;
}

#editProfile:hover {
    filter: brightness(115%);
    box-shadow: 0px 5px 10px rgb(33, 33, 33);
}

#editProfile:active {
    filter: brightness(90%);
}
footer {
    text-align: center;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    position:relative;
    bottom: 0; 

}
